apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
data:
  logstash.conf: |
    input {
      beats {
        port => 5044
      }
    }

    filter {
      grok {
        match => {
          "message" => "%{TIMESTAMP_ISO8601:timestamp}\s+%{LOGLEVEL:level}\s+%{NUMBER:pid}\s+---\s+\[%{DATA:thread}\]\s+%{JAVACLASS:logger}\s*:\s*%{GREEDYDATA:log_message}"
        }
      }

      date {
        match => ["timestamp", "yyyy-MM-dd HH:mm:ss.SSS"]
      }

      mutate {
        replace => { "message" => "%{log_message}" }
        remove_field => ["timestamp", "log_message"]
      }
    }

    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "spring-logs-%{+YYYY.MM.dd}"
      }
      stdout { codec => rubydebug }
    }
