apiVersion: v1
kind: ConfigMap
metadata:
  name: db-config
data:
  host: mysql-service    #this should be the same as name prvided in :mysqldb-deployment.yaml ,partie Service metadata: name: mysql-service
  dbName: dev