server:
  port: 8082

spring:
  profiles:
    active: prod
  application:
    name: payment-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect