server:
  port: 8081

spring:
  profiles:
    active: dev
  application:
    name: order-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect